//Microsoft Developer Studio generated resource script.
//
#include "Glue.h"

#include <winresrc.h>
#define IDC_STATIC -1

SFX DAT DISCARDABLE "resource\\sfx.dat"

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_APPICON             ICON    DISCARDABLE     "Andradion 2.ico"

/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

IDB_TURNER              BITMAP  DISCARDABLE     "Resource\\turner.bmp"
IDB_STORY               BITMAP  DISCARDABLE     "Resource\\story.bmp"
IDB_BITMAP2             BITMAP  DISCARDABLE     "Resource\\bloodstain.bmp"
IDB_BITMAP3             BITMAP  DISCARDABLE     "Resource\\bullet.bmp"
IDB_BITMAP4             BITMAP  DISCARDABLE     "Resource\\explosion.bmp"
IDB_BITMAP5             BITMAP  DISCARDABLE     "Resource\\Health.bmp"
IDB_BITMAP6             BITMAP  DISCARDABLE     "Resource\\menu.bmp"
IDB_BITMAP7             BITMAP  DISCARDABLE     "Resource\\decapitate1.bmp"
IDB_BITMAP8             BITMAP  DISCARDABLE     "Resource\\decapitate2.bmp"
IDB_BITMAP9             BITMAP  DISCARDABLE     "Resource\\pistole.bmp"
IDB_BITMAP10            BITMAP  DISCARDABLE     "Resource\\pistoln.bmp"
IDB_BITMAP11            BITMAP  DISCARDABLE     "Resource\\pistolw.bmp"
IDB_BITMAP12            BITMAP  DISCARDABLE     "Resource\\pistols.bmp"
IDB_BITMAP13            BITMAP  DISCARDABLE     "Resource\\mge.bmp"
IDB_BITMAP14            BITMAP  DISCARDABLE     "Resource\\mgn.bmp"
IDB_BITMAP15            BITMAP  DISCARDABLE     "Resource\\mgw.bmp"
IDB_BITMAP16            BITMAP  DISCARDABLE     "Resource\\mgs.bmp"
IDB_BITMAP17            BITMAP  DISCARDABLE     "Resource\\bazookae.bmp"
IDB_BITMAP18            BITMAP  DISCARDABLE     "Resource\\bazookan.bmp"
IDB_BITMAP19            BITMAP  DISCARDABLE     "Resource\\bazookaw.bmp"
IDB_BITMAP20            BITMAP  DISCARDABLE     "Resource\\bazookas.bmp"
IDB_BITMAP21            BITMAP  DISCARDABLE     "Resource\\1sallye.bmp"
IDB_BITMAP22            BITMAP  DISCARDABLE     "Resource\\1sallyn.bmp"
IDB_BITMAP23            BITMAP  DISCARDABLE     "Resource\\1sallyw.bmp"
IDB_BITMAP24            BITMAP  DISCARDABLE     "Resource\\1sallys.bmp"
IDB_BITMAP25            BITMAP  DISCARDABLE     "Resource\\2sallye.bmp"
IDB_BITMAP26            BITMAP  DISCARDABLE     "Resource\\2sallyn.bmp"
IDB_BITMAP27            BITMAP  DISCARDABLE     "Resource\\2sallyw.bmp"
IDB_BITMAP28            BITMAP  DISCARDABLE     "Resource\\2sallys.bmp"
IDB_BITMAP29            BITMAP  DISCARDABLE     "Resource\\1miltone.bmp"
IDB_BITMAP30            BITMAP  DISCARDABLE     "Resource\\1miltonn.bmp"
IDB_BITMAP31            BITMAP  DISCARDABLE     "Resource\\1miltonw.bmp"
IDB_BITMAP32            BITMAP  DISCARDABLE     "Resource\\1miltons.bmp"
IDB_BITMAP33            BITMAP  DISCARDABLE     "Resource\\2miltone.bmp"
IDB_BITMAP34            BITMAP  DISCARDABLE     "Resource\\2miltonn.bmp"
IDB_BITMAP35            BITMAP  DISCARDABLE     "Resource\\2miltonw.bmp"
IDB_BITMAP36            BITMAP  DISCARDABLE     "Resource\\2miltons.bmp"
IDB_BITMAP37            BITMAP  DISCARDABLE     "Resource\\1evilturnere.bmp"
IDB_BITMAP38            BITMAP  DISCARDABLE     "Resource\\1evilturnern.bmp"
IDB_BITMAP39            BITMAP  DISCARDABLE     "Resource\\1evilturnerw.bmp"
IDB_BITMAP40            BITMAP  DISCARDABLE     "Resource\\1evilturners.bmp"
IDB_BITMAP41            BITMAP  DISCARDABLE     "Resource\\2evilturnere.bmp"
IDB_BITMAP42            BITMAP  DISCARDABLE     "Resource\\2evilturnern.bmp"
IDB_BITMAP43            BITMAP  DISCARDABLE     "Resource\\2evilturnerw.bmp"
IDB_BITMAP44            BITMAP  DISCARDABLE     "Resource\\2evilturners.bmp"
IDB_BITMAP45            BITMAP  DISCARDABLE     "Resource\\1turnere.bmp"
IDB_BITMAP46            BITMAP  DISCARDABLE     "Resource\\1turnern.bmp"
IDB_BITMAP47            BITMAP  DISCARDABLE     "Resource\\1turnerw.bmp"
IDB_BITMAP48            BITMAP  DISCARDABLE     "Resource\\1turners.bmp"
IDB_BITMAP49            BITMAP  DISCARDABLE     "Resource\\2turnere.bmp"
IDB_BITMAP50            BITMAP  DISCARDABLE     "Resource\\2turnern.bmp"
IDB_BITMAP51            BITMAP  DISCARDABLE     "Resource\\2turnerw.bmp"
IDB_BITMAP52            BITMAP  DISCARDABLE     "Resource\\2turners.bmp"
IDB_BITMAP53            BITMAP  DISCARDABLE     "Resource\\1switze.bmp"
IDB_BITMAP54            BITMAP  DISCARDABLE     "Resource\\1switzn.bmp"
IDB_BITMAP55            BITMAP  DISCARDABLE     "Resource\\1switzw.bmp"
IDB_BITMAP56            BITMAP  DISCARDABLE     "Resource\\1switzs.bmp"
IDB_BITMAP57            BITMAP  DISCARDABLE     "Resource\\2switze.bmp"
IDB_BITMAP58            BITMAP  DISCARDABLE     "Resource\\2switzn.bmp"
IDB_BITMAP59            BITMAP  DISCARDABLE     "Resource\\2switzw.bmp"
IDB_BITMAP60            BITMAP  DISCARDABLE     "Resource\\2switzs.bmp"
IDB_BITMAP61            BITMAP  DISCARDABLE     "Resource\\1charmine.bmp"
IDB_BITMAP62            BITMAP  DISCARDABLE     "Resource\\1charminn.bmp"
IDB_BITMAP63            BITMAP  DISCARDABLE     "Resource\\1charminw.bmp"
IDB_BITMAP64            BITMAP  DISCARDABLE     "Resource\\1charmins.bmp"
IDB_BITMAP65            BITMAP  DISCARDABLE     "Resource\\2charmine.bmp"
IDB_BITMAP66            BITMAP  DISCARDABLE     "Resource\\2charminn.bmp"
IDB_BITMAP67            BITMAP  DISCARDABLE     "Resource\\2charminw.bmp"
IDB_BITMAP68            BITMAP  DISCARDABLE     "Resource\\2charmins.bmp"
IDB_BITMAP69            BITMAP  DISCARDABLE     "Resource\\1pepsie.bmp"
IDB_BITMAP70            BITMAP  DISCARDABLE     "Resource\\1pepsin.bmp"
IDB_BITMAP71            BITMAP  DISCARDABLE     "Resource\\1pepsiw.bmp"
IDB_BITMAP72            BITMAP  DISCARDABLE     "Resource\\1pepsis.bmp"
IDB_BITMAP73            BITMAP  DISCARDABLE     "Resource\\2pepsie.bmp"
IDB_BITMAP74            BITMAP  DISCARDABLE     "Resource\\2pepsin.bmp"
IDB_BITMAP75            BITMAP  DISCARDABLE     "Resource\\2pepsiw.bmp"
IDB_BITMAP76            BITMAP  DISCARDABLE     "Resource\\2pepsis.bmp"
IDB_BITMAP77            BITMAP  DISCARDABLE     "Resource\\1cokee.bmp"
IDB_BITMAP78            BITMAP  DISCARDABLE     "Resource\\1coken.bmp"
IDB_BITMAP79            BITMAP  DISCARDABLE     "Resource\\1cokew.bmp"
IDB_BITMAP80            BITMAP  DISCARDABLE     "Resource\\1cokes.bmp"
IDB_BITMAP81            BITMAP  DISCARDABLE     "Resource\\2cokee.bmp"
IDB_BITMAP82            BITMAP  DISCARDABLE     "Resource\\2coken.bmp"
IDB_BITMAP83            BITMAP  DISCARDABLE     "Resource\\2cokew.bmp"
IDB_BITMAP84            BITMAP  DISCARDABLE     "Resource\\2cokes.bmp"
IDB_BITMAP85            BITMAP  DISCARDABLE     "Resource\\1koolaidguye.bmp"
IDB_BITMAP86            BITMAP  DISCARDABLE     "Resource\\1koolaidguyn.bmp"
IDB_BITMAP87            BITMAP  DISCARDABLE     "Resource\\1koolaidguyw.bmp"
IDB_BITMAP88            BITMAP  DISCARDABLE     "Resource\\1koolaidguys.bmp"
IDB_BITMAP89            BITMAP  DISCARDABLE     "Resource\\2koolaidguye.bmp"
IDB_BITMAP90            BITMAP  DISCARDABLE     "Resource\\2koolaidguyn.bmp"
IDB_BITMAP91            BITMAP  DISCARDABLE     "Resource\\2koolaidguyw.bmp"
IDB_BITMAP92            BITMAP  DISCARDABLE     "Resource\\2koolaidguys.bmp"
IDB_TITLETURN           BITMAP  DISCARDABLE     "Resource\\titleturn.bmp"

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_CFG DIALOGEX 0, 0, 272, 126
STYLE DS_MODALFRAME | DS_SETFOREGROUND | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "Andradion 2"
FONT 8, "MS Sans Serif", 400, 0
{
 CONTROL "Welcome!", IDC_STATIC, "BUTTON", BS_GROUPBOX | BS_CENTER | WS_CHILD | WS_VISIBLE, 5,5,80,45, WS_EX_TRANSPARENT
 CONTROL "Go, &Lunch!", IDLAUNCH, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7,15,75,17
 CONTROL "Lunch without Music", IDLAUNCHWITHOUTMUSIC, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7,32,75,15
 CONTROL "Multiplayer Stuff -", IDC_STATIC, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5,51,55,8
 CONTROL "&Sync Rate", IDC_STATIC, "BUTTON", BS_GROUPBOX | BS_LEFT | WS_CHILD | WS_VISIBLE, 5,60,115,65
 CONTROL "", IDC_SYNC, "EDIT", ES_LEFT | ES_AUTOHSCROLL | ES_LOWERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 10,70,85,12
 CONTROL "Sync Rate is the accuracy of the movement of your enemies on a scale of 1 to 100, with 100 being the smoothest, but requiring a very high connection speed.", IDC_STATIC, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 12,84,105,40
 CONTROL "About", IDC_STATIC, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 91,5,145,45
 CONTROL "by Matt DeVore and Doug Templeton", IDC_STATIC, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 97,13,120,10
 CONTROL "11 of 12 levels available", IDC_STATIC, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 97,22,135,10
 CONTROL "E-mail: mdevore@falcon.calpoly.edu", IDC_STATIC, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 97,31,120,8
 CONTROL "Website: home.inreach.com/clkawa", IDC_STATIC, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 97,40,115,
8
 CONTROL "- Futs Reeyalpitlum", IDC_STATIC, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 176,51,60,8
 CONTROL "Hosting vs. Joining", IDC_STATIC, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 131,60,105,65, WS_EX_RIGHT
 CONTROL "In order for a computer to host, the shift button must be held down while selecting the room to play in.  This will prevent the system from nagging the host for irrelevant information.", IDC_STATIC, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 137,68,95,55
 CONTROL 395, IDC_STATIC, "Static", SS_BITMAP, 243,12,23,91, WS_EX_CLIENTEDGE
 CONTROL "&Quit", IDQUIT, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 244,108,20,14
}


/////////////////////////////////////////////////////////////////////////////
//
// MIDI
//

IDR_INTROMUSIC          MIDI    DISCARDABLE     "Resource\\JamesBond.mid"
IDR_MENUMUSIC           MIDI    DISCARDABLE     "Resource\\Chattahoochee.mid"
IDR_YOUWINTUNE MIDI DISCARDABLE "Resource\\youwin.mid"
1_                      MIDI    DISCARDABLE     "Resource\\BusStop.mid"
2A                      MIDI    DISCARDABLE     "Resource\\StayinAlive.mid"
2B                      MIDI    DISCARDABLE     "Resource\\InspectorGadget.mid"
3A                      MIDI    DISCARDABLE     "Resource\\SingSingSing.mid"
3B                      MIDI    DISCARDABLE     "Resource\\Underground.mid"
IDR_WELCOMEBOXMUSIC     MIDI    DISCARDABLE     "Resource\\rush.mid"
4_                      MIDI    DISCARDABLE     "Resource\\Castle.mid"
6A                      MIDI    DISCARDABLE     "Resource\\LivinLaVidaLoca.mid"
5_                      MIDI    DISCARDABLE     "Resource\\kefka_theme.mid"
7A                      MIDI    DISCARDABLE     "Resource\\SoulMan.mid"
6B                      MIDI    DISCARDABLE     "Resource\\JapaneseDigimon.mid"
7B                      MIDI    DISCARDABLE     "Resource\\goofy-the_rules_of_the_game.mid"
8A                      MIDI    DISCARDABLE     "Resource\\b_dream2.mid"

/////////////////////////////////////////////////////////////////////////////
//
// LVL
//

3A                      LVL     DISCARDABLE     "Resource\\3a.lvl"
2A                      LVL     DISCARDABLE     "Resource\\2a.lvl"
2B                      LVL     DISCARDABLE     "Resource\\2b.lvl"
1_                      LVL     DISCARDABLE     "Resource\\1_.lvl"
3B                      LVL     DISCARDABLE     "Resource\\3b.lvl"
4_                      LVL     DISCARDABLE     "Resource\\4_.lvl"
5_                      LVL     DISCARDABLE     "Resource\\5_.lvl"
6A                      LVL     DISCARDABLE     "Resource\\6a.lvl"
7A                      LVL     DISCARDABLE     "Resource\\7a.lvl"
6B                      LVL     DISCARDABLE     "Resource\\6b.lvl"
7B                      LVL     DISCARDABLE     "Resource\\7b.lvl"

/////////////////////////////////////////////////////////////////////////////
//
// DAT
//

IDR_SPLASH              DAT     DISCARDABLE     "Resource\\splash.dat"
IDR_FONT                DAT     DISCARDABLE     "resource\\font.dat"

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_SELECTCHARACTERCAPTION "PICK CHARACTER"
    IDS_DIFFICULTYLEVEL1    "Dangnabit (TRY ME FIRST)"
    IDS_DIFFICULTYLEVEL2    "My Dear Child (HARDER)"
    IDS_DIFFICULTYLEVEL3    "Danger! Danger! (VERY HARD)"
    IDS_CHARNAME1           "Sally"
    IDS_CHARNAME2           "Milton"
    IDS_CHARNAME3           "Evil Mr. Turner"
    IDS_CHARNAME4           "Mr. Turner"
    IDS_CHARNAME5           "The Switz"
    IDS_CHARNAME6           "Charmin"
    IDS_CHARNAME7           "Pepsi One"
    IDS_CHARNAME8           "Coca-Cola Classic"
    IDS_CHARNAME9           "Kool-Aid Guy"
    IDS_UNAVAILABLELEVEL    "(Unavailable)"
    IDS_MAGICWORD           "No shortcuts; say the magic word!"
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_WINDOWCAPTION       "The Turner Game"
    IDS_WINDOWCLASS         "Andradion 2FV WndClass"
    IDS_OLDDX               "DirectX 3.0 is required to run Andradion 2, but it is not installed.  To download the latest version of DirectX, go to www.microsoft.com/directx/homeuser/downloads/default.asp or www.microsoft.com/directx\nE-mail me at mdevore@falcon.calpoly.edu if you need any help."
    IDS_FORCEPICKUPSP       "Hold F to pick it up for points!"
    IDS_NEWPLAYER           "%s has joined."
    IDS_OLDPLAYER           "%s has left."
    IDS_FORCEPICKUPMP       "Hold F to keep it for yourself!"
    IDS_NORECORDS           "No records have been set."
    IDS_PAUSE               "Paused - P to Resume"
    IDS_BESTTIMEFORMAT      "Best time: %02d:%02d w/score of %d"
    IDS_BESTSCOREFORMAT     "Best score: %d w/time of %02d:%02d"
    IDS_RECORDSUMMARY       "Best score: %d, Best time: %02d:%02d"
    IDS_MAXSCORE            "Maximum score attained!"
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_INIFILE             "Progress11.dat"
    IDS_MAINMENUITEM1       "Single Player"
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_MAINMENUITEM2       "Multiplayer"
    IDS_MAINMENUITEM3       "Quit"
    IDS_MAINMENUCAPTION     "ANDRADION 2"
    IDS_LEVELSELECTCAPTION  "LEVEL SELECT"
    IDS_CONFIRMATIONCAPTION "ARE YOU SURE?"
    IDS_NO                  "No"
    IDS_YES                 "Yes"
    IDS_SELECTCONNECTIONMETHODCAPTION "CONNECTION METHOD"
    IDS_ENTERNAMECAPTION    "ENTER NAME"
    IDS_SELECTGAMECAPTION   "PICK ROOM (holding down shift to host)"
    IDS_GAMESLOTNAME1       "Happiness Village"
    IDS_GAMESLOTNAME2       "Summer School"
    IDS_GAMESLOTNAME3       "DMV"
    IDS_GAMESLOTNAME4       "Middle School"
    IDS_GAMESLOTNAME5       "Gibbs' Class"
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_GAMESLOTNAME6       "Joe Henderson"
    IDS_GAMESLOTNAME7       "Robert Semple"
    IDS_GAMESLOTNAME8       "Matthew Turner"
    IDS_GAMESLOTNAME9       "Mary Farmer"
    IDS_GAMESLOTNAME10      "Turnabout Shack"
    IDS_GAMESLOTNAME11      "BOOYEAH.COM"
    IDS_GAMESLOTNAME12      "BOOYEAH.GOV"
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_NOCONNECTIONMETHODAVAILABLE "No Connection Methods Available"
    IDS_KILLEDYOURSELF      "You killed yourself"
    IDS_KILLED              " killed "
    IDS_YOU                 "you"
    IDS_YOUKILLED           "You killed "
    IDS_KILLEDTHEMSELVES    " committed suicide"
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_SPKILLED            "You were killed!"
    IDS_INVALIDSYNCRATE     "You entered an invalid sync rate.  Please enter an integer from 1 to 100.  If you are playing a single player game, this number has no effect on anything."
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_BUDGETCUTS          "This is a preview of Andradion 2; it contains only a fraction of the full version.  You should have been able to get this preview for free.  The full version will also be free.  Visit home.inreach.com/clkawa regularly to check for updates, or e-mail me at mdevore@falcon.calpoly.edu if you would like to be notified by e-mail.  Also note that Multiplayer is not functional at this time.  ENJOY!"
    IDS_LEVELNAME1          "The End of the Beginning"
    IDS_LEVELFILE1          "1_"
    IDS_STRING204           "Out of the Office and into the Fire"
    IDS_STRING205           "2A"
    IDS_STRING206           "Out of the Office and Viva Zepellin!"
    IDS_STRING207           "2B"
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_STRING208           "What goes up must come SPLAT! Excuse me"
    IDS_STRING209           "3A"
    IDS_STRING210           "Super Mario Super Fun Zone"
    IDS_STRING211           "3B"
    IDS_STRING212           "Switzerland"
    IDS_STRING213           "4_"
    IDS_STRING214           "Gibs Rum"
    IDS_STRING215           "5_"
    IDS_STRING216           "¡Taco Taco!"
    IDS_STRING217           "6A"
    IDS_STRING218           "Border Hopping and Famous Landmarks"
    IDS_STRING219           "7A"
    IDS_STRING220           "Probe-mania"
    IDS_STRING221           "6B"
    IDS_STRING222           "Welcome to Hawaii and Die"
    IDS_STRING223           "7B"
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_STRING224           "Tijuana:  the Happiest Place on Earth"
    IDS_STRING225           "8A"
END

1__ CMP DISCARDABLE "Resource\\1__.cmpset"
2a_ CMP DISCARDABLE "Resource\\2a_.cmpset"
2b_ CMP DISCARDABLE "Resource\\2b_.cmpset"
3a_ CMP DISCARDABLE "Resource\\3a_.cmpset"
3b_ CMP DISCARDABLE "Resource\\3b_.cmpset"
4__ CMP DISCARDABLE "Resource\\4__.cmpset"
5__ CMP DISCARDABLE "Resource\\5__.cmpset"
6a_ CMP DISCARDABLE "Resource\\6a_.cmpset"
6b_ CMP DISCARDABLE "Resource\\6b_.cmpset"
7a_ CMP DISCARDABLE "Resource\\7a_.cmpset"
7b_ CMP DISCARDABLE "Resource\\7b_.cmpset"

1_u CMP DISCARDABLE "Resource\\1_u.cmpset"
2au CMP DISCARDABLE "Resource\\2au.cmpset"
2bu CMP DISCARDABLE "Resource\\2bu.cmpset"
3au CMP DISCARDABLE "Resource\\3au.cmpset"
3bu CMP DISCARDABLE "Resource\\3bu.cmpset"
4_u CMP DISCARDABLE "Resource\\4_u.cmpset"
5_u CMP DISCARDABLE "Resource\\5_u.cmpset"
6au CMP DISCARDABLE "Resource\\6au.cmpset"
6bu CMP DISCARDABLE "Resource\\6bu.cmpset"
7au CMP DISCARDABLE "Resource\\7au.cmpset"
7bu CMP DISCARDABLE "Resource\\7bu.cmpset"

