#include "../resource.h"

/////////////////////////////////////////////////////////////////////////////
//
// Cursor
//

IDC_TURNER              CURSOR  DISCARDABLE     "..\\resource\\turner.cur"
IDC_SALLY               CURSOR  DISCARDABLE     "..\\resource\\sally.cur"
IDC_PISTOL              CURSOR  DISCARDABLE     "..\\resource\\pistol.cur"
IDC_MILTON              CURSOR  DISCARDABLE     "..\\resource\\milton.cur"
IDC_MACHINEGUN          CURSOR  DISCARDABLE     "..\\resource\\machinegun.cur"
IDC_HEALTH              CURSOR  DISCARDABLE     "..\\resource\\health.cur"
IDC_BAZOOKA             CURSOR  DISCARDABLE     "..\\resource\\bazooka.cur"
IDC_EVILTURNER          CURSOR  DISCARDABLE     "..\\resource\\evilturner.cur"

/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

IDB_GENERICHEALTH              BITMAP  DISCARDABLE     "..\\resource\\Health.bmp"
IDB_GENERICMILTON              BITMAP  DISCARDABLE     "..\\resource\\1miltons.bmp"
IDB_GENERICSALLY               BITMAP  DISCARDABLE     "..\\resource\\1sallys.bmp"
IDB_GENERICTURNER              BITMAP  DISCARDABLE     "..\\resource\\1turners.bmp"
IDB_GENERICBAZOOKA             BITMAP  DISCARDABLE     "..\\resource\\bazookae.bmp"
IDB_GENERICEVILTURNER          BITMAP  DISCARDABLE     "..\\resource\\1evilturners.bmp"
IDB_GENERICMACHINEGUN          BITMAP  DISCARDABLE     "..\\resource\\mge.bmp"
IDB_GENERICPISTOL              BITMAP  DISCARDABLE     "..\\resource\\pistole.bmp"

